{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "GitHubActionsMainOnly",
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::<ACCOUNT_ID>:oidc-provider/token.actions.githubusercontent.com"
      },
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Condition": {
        "StringEquals": {
          "token.actions.githubusercontent.com:aud": "sts.amazonaws.com",
          "token.actions.githubusercontent.com:sub": "<GITHUB_OIDC_MAIN_SUBJECT>"
        }
      }
    }
  ]
}
