{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadSonarSecurityHubImportRole",
      "Effect": "Allow",
      "Action": ["iam:GetRole", "iam:GetRolePolicy", "iam:ListRolePolicies", "iam:ListRoleTags"],
      "Resource": "arn:aws:iam::<ACCOUNT_ID>:role/crewsafe-shared-dev-sonar-securityhub-import"
    },
    {
      "Sid": "ReadSecurityHubImportTarget",
      "Effect": "Allow",
      "Action": ["securityhub:DescribeHub", "securityhub:GetFindings"],
      "Resource": "arn:aws:securityhub:ap-southeast-1:<ACCOUNT_ID>:hub/default"
    }
  ]
}
