{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ManageEcrRepository",
      "Effect": "Allow",
      "Action": [
        "ecr:CreateRepository",
        "ecr:DeleteRepository",
        "ecr:DescribeRepositories",
        "ecr:PutLifecyclePolicy",
        "ecr:GetLifecyclePolicy",
        "ecr:DeleteLifecyclePolicy",
        "ecr:PutImageScanningConfiguration",
        "ecr:TagResource",
        "ecr:UntagResource",
        "ecr:ListTagsForResource"
      ],
      "Resource": "arn:aws:ecr:ap-southeast-1:<ACCOUNT_ID>:repository/crewsafe/backend"
    },
    {
      "Sid": "ManagePushRoleIdentity",
      "Effect": "Allow",
      "Action": [
        "iam:CreateRole",
        "iam:DeleteRole",
        "iam:GetRole",
        "iam:PutRolePolicy",
        "iam:DeleteRolePolicy",
        "iam:GetRolePolicy",
        "iam:ListAttachedRolePolicies",
        "iam:ListRolePolicies",
        "iam:ListRoleTags",
        "iam:TagRole",
        "iam:UntagRole",
        "iam:UpdateAssumeRolePolicy",
        "iam:UpdateRoleDescription"
      ],
      "Resource": "arn:aws:iam::<ACCOUNT_ID>:role/crewsafe-shared-dev-ecr-push"
    },
    {
      "Sid": "ManageWebEcrRepository",
      "Effect": "Allow",
      "Action": [
        "ecr:CreateRepository",
        "ecr:DeleteRepository",
        "ecr:DescribeRepositories",
        "ecr:PutLifecyclePolicy",
        "ecr:GetLifecyclePolicy",
        "ecr:DeleteLifecyclePolicy",
        "ecr:PutImageScanningConfiguration",
        "ecr:TagResource",
        "ecr:UntagResource",
        "ecr:ListTagsForResource"
      ],
      "Resource": "arn:aws:ecr:ap-southeast-1:<ACCOUNT_ID>:repository/crewsafe/web"
    },
    {
      "Sid": "ManageWebPushRoleIdentity",
      "Effect": "Allow",
      "Action": [
        "iam:CreateRole",
        "iam:DeleteRole",
        "iam:GetRole",
        "iam:PutRolePolicy",
        "iam:DeleteRolePolicy",
        "iam:GetRolePolicy",
        "iam:ListAttachedRolePolicies",
        "iam:ListRolePolicies",
        "iam:ListRoleTags",
        "iam:TagRole",
        "iam:UntagRole",
        "iam:UpdateAssumeRolePolicy",
        "iam:UpdateRoleDescription"
      ],
      "Resource": "arn:aws:iam::<ACCOUNT_ID>:role/crewsafe-shared-dev-ecr-web-push"
    },
    {
      "Sid": "ManageSecurityHubAccount",
      "Effect": "Allow",
      "Action": [
        "securityhub:DescribeHub",
        "securityhub:DisableSecurityHub",
        "securityhub:EnableSecurityHub"
      ],
      "Resource": "*"
    },
    {
      "Sid": "CreateSecurityHubServiceLinkedRole",
      "Effect": "Allow",
      "Action": [
        "iam:CreateServiceLinkedRole"
      ],
      "Resource": "arn:aws:iam::<ACCOUNT_ID>:role/aws-service-role/securityhub.amazonaws.com/AWSServiceRoleForSecurityHub",
      "Condition": {
        "StringLike": {
          "iam:AWSServiceName": "securityhub.amazonaws.com"
        }
      }
    },
    {
      "Sid": "UpdateSecurityHubConfiguration",
      "Effect": "Allow",
      "Action": [
        "securityhub:UpdateSecurityHubConfiguration"
      ],
      "Resource": "arn:aws:securityhub:ap-southeast-1:<ACCOUNT_ID>:hub/default"
    },
    {
      "Sid": "CreateInspectorServiceLinkedRole",
      "Effect": "Allow",
      "Action": [
        "iam:CreateServiceLinkedRole"
      ],
      "Resource": "arn:aws:iam::<ACCOUNT_ID>:role/aws-service-role/inspector2.amazonaws.com/AWSServiceRoleForAmazonInspector2",
      "Condition": {
        "StringLike": {
          "iam:AWSServiceName": "inspector2.amazonaws.com"
        }
      }
    },
    {
      "Sid": "ManageSecurityHubInsight",
      "Effect": "Allow",
      "Action": [
        "securityhub:CreateInsight",
        "securityhub:DeleteInsight",
        "securityhub:GetInsight",
        "securityhub:ListInsights",
        "securityhub:UpdateInsight"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ManageInspectorEcrEnablement",
      "Effect": "Allow",
      "Action": [
        "inspector2:BatchGetAccountStatus",
        "inspector2:Disable",
        "inspector2:Enable"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ManageEcrEnhancedScanning",
      "Effect": "Allow",
      "Action": [
        "ecr:DescribeRegistry",
        "ecr:PutRegistryScanningConfiguration"
      ],
      "Resource": "*"
    }
  ]
}
