{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadEcrRepositoryPlan",
      "Effect": "Allow",
      "Action": [
        "ecr:DescribeRepositories",
        "ecr:GetLifecyclePolicy",
        "ecr:ListTagsForResource"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ReadPushIdentityPlan",
      "Effect": "Allow",
      "Action": [
        "iam:GetRole",
        "iam:GetRolePolicy",
        "iam:ListAttachedRolePolicies",
        "iam:ListRolePolicies",
        "iam:ListRoleTags"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ReadSecurityHubInspector",
      "Effect": "Allow",
      "Action": [
        "ecr:DescribeRegistry",
        "inspector2:BatchGetAccountStatus",
        "inspector2:ListCoverage",
        "securityhub:DescribeHub",
        "securityhub:GetInsight",
        "securityhub:ListInsights"
      ],
      "Resource": "*"
    }
  ]
}
